body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

body {
  background-image: url(/img/pattern_body.png);
  background-size: 600px;
  background-repeat: space; }

.title {
  font-size: 3rem;
  color: #807865;
  text-align: center;
  letter-spacing: 0em;
  font-weight: 300;
  font-family: "Vidaloka", serif;
  margin: 0; }

.text {
  line-height: 1.7rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  width: 450px;
  text-align: center;
  padding-top: 30px;
  font-family: "Roboto", sans-serif; }

.wrapper {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem; }

  .text {
    font-size: 0.9rem;
    line-height: 1.328rem;
    text-align: center; } }
header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  margin-top: 10px; }
  header a {
    text-decoration: none;
    color: #777; }
  header #main_nav ul {
    padding-left: 0px; }
    header #main_nav ul li {
      list-style: none;
      display: inline-block;
      padding: 15px;
      color: #999;
      font-family: "Vidaloka", serif; }
      header #main_nav ul li a li {
        padding: 0px; }
  header #logo {
    display: block; }

.icon {
  display: none; }

.fullscreen {
  position: fixed;
  padding-top: 20px;
  top: 12.5rem;
  pointer-events: none;
  left: 0;
  text-align: center;
  z-index: 5;
  width: 100vw;
  opacity: 0;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  transition: top 500ms ease-in;
  opacity: 300ms ease-in; }
  .fullscreen #fullscreen_title {
    color: white;
    padding-top: 50px; }
  .fullscreen ul {
    padding-left: 0px; }
    .fullscreen ul li {
      list-style: none;
      color: white;
      padding: 1em; }
      .fullscreen ul li a {
        color: white; }

.fullscreen.is-active {
  opacity: 1;
  top: 0;
  pointer-events: auto; }

@media only screen and (max-width: 500px) {
  header {
    margin-top: 10px; }

  .icon {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.5rem;
    margin: 1em; }

  .icon span {
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: #666;
    transition: background-color 500ms ease-in-out; }

  .icon span:nth-child(1) {
    top: 0.0625rem; }
  .icon span:nth-child(2) {
    top: 0.625rem; }
  .icon span:nth-child(3) {
    top: 1.25rem; }

  .icon:hover {
    cursor: pointer; }
    .icon:hover span {
      background-color: #e0aa10; }

  .js-menu-button.is-active .icon span {
    z-index: 9999; }
  .js-menu-button.is-active .icon span:nth-child(1) {
    opacity: 0;
    background-color: white; }
  .js-menu-button.is-active .icon span:nth-child(2) {
    transform: rotate(45deg);
    background-color: white; }
  .js-menu-button.is-active .icon span:nth-child(3) {
    top: 0.625rem;
    background-color: white;
    transform: rotate(-45deg); }

  #main_nav {
    display: none; }

  #logo {
    position: absolute;
    left: 15px; } }
#hero {
  height: 200px; }
  #hero .wrapper_hero {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #hero .wrapper_hero .title_hero {
      text-align: center;
      color: white; }
      #hero .wrapper_hero .title_hero h3 {
        font-weight: 300;
        color: #838383;
        letter-spacing: 0.03em; }

#logo_bild {
  max-width: 90%; }

#logo_bild_footer {
  width: 140px;
  max-width: 90%; }

@media only screen and (max-width: 600px) {
  #hero {
    margin: 10px; }
    #hero .wrapper_hero .title_hero h1 {
      font-size: 1.4rem; }
    #hero .wrapper_hero .title_hero h2 {
      font-size: 1rem; } }

#area0 .wrapper .reiter_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 0px; }

  #area0 .wrapper .reiter_wrap .reiter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }

    #area0 .wrapper .reiter_wrap .reiter .infos {
      position: absolute;
      background-color: white;
      bottom: 0;
      width: 100%;
      text-align: center; }

      #area0 .wrapper .reiter_wrap .reiter .infos h3 {
        color: #757575;
        margin-bottom: 0px;
        font-family: "Vidaloka", serif;
        letter-spacing: 0.06em;
        font-size: 1rem;
        text-transform: uppercase; }

      #area0 .wrapper .reiter_wrap .reiter .infos p {
        color: #6B6B6B;
        margin-top: 10px;
        font-style: italic;
        font-size: 0.9rem;
        line-height: 1.35rem;
        width: 161px;
        margin: 0 auto;
        padding-top: 20px; }

    #area0 .wrapper .reiter_wrap .reiter .mehr {
      position: absolute;
      bottom: -25px;
      background-color: #CA9B0F;
      color: white;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      padding: 0.3em;
      opacity: 0; }
      #area0 .wrapper .reiter_wrap .reiter .mehr h3 {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-size: 0.8rem;
        font-family: "Roboto", sans-serif; }
    #area0 .wrapper .reiter_wrap .reiter img {
      width: 100%;
      height: 500px;
      object-fit: cover; }

.reiter:hover {
  cursor: pointer; }
  .reiter:hover .infos {
    padding-bottom: 15px;
    transition: padding-bottom 0.4s ease-in; }

@media only screen and (max-width: 900px) {
  #area0 .wrapper .reiter_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px; } }

@media only screen and (max-width: 450px) {
  #area0 .wrapper {
    max-width: 100%; }
    #area0 .wrapper .reiter_wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      padding-top: 50px;
      padding-bottom: 0px; } 
  
    #area0 .wrapper .reiter_wrap .reiter .infos {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      bottom: 0;
      width: 100%;
      padding-bottom: 10px;
      text-align: center; }
  
    #area0 .wrapper .reiter_wrap .reiter .infos p {
      padding-top: 10px; }
  
      #area0 .wrapper .reiter_wrap .reiter img {
      width: 100%;
      height: 300px;
      object-fit: cover; }
  
  
      #hero .wrapper_hero .title_hero h3 {
     font-weight: 300;
      color: #838383;
      letter-spacing: 0.03em;
     font-size: 1rem;}
  
    #hero {
    height: 120px; }


    #hero .wrapper_hero {
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }


}





hr {
  width: 100px;
  border-top: 2px solid #e0aa10;
  border-bottom: none;
  border-left: none;
  border-right: none; }

#area_info {
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68);
  width: 700px;
  margin: 0 auto;
  max-width: 90%;
  margin-top: 100px; }
  #area_info .wrapper {
    padding-top: 50px;
    padding-bottom: 100px; }
    #area_info .wrapper .title {
      padding-bottom: 30px; }
    #area_info .wrapper .uns {
      width: 600px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      #area_info .wrapper .uns img {
        width: 650px;
        object-fit: cover;
        max-width: 100%; }
      #area_info .wrapper .uns p {
        color: #6b6b6b;
        width: 560px;
        max-width: 100%;
        text-align: center;
        padding-top: 30px;
        font-family: "Roboto", sans-serif; }

@media only screen and (max-width: 500px) {
  
        #area_info {
          margin-top: 0px;
      }
   
  
  #area_info .wrapper {
    padding-top: 50px;
    padding-bottom: 0px; } }
#area01 {
  background-color: transparent;
  margin-top: 100px; }
  #area01 .wrapper {
    box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68);
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    width: 700px; }
    #area01 .wrapper::after {
      clear: both;
      content: "";
      display: table; }
    #area01 .wrapper p {
      color: #6B6B6B;
      width: 600px;
      margin: 0 auto;
      max-width: 90%; }
    #area01 .wrapper .preis_wrap {
      padding-top: 20px; }
      #area01 .wrapper .preis_wrap .preis {
        text-align: center;
        display: inline-block;
        width: 33.3%;
        float: left; }
        #area01 .wrapper .preis_wrap .preis h2 {
          font-weight: 300;
          font-size: 1.2rem;
          text-transform: uppercase;
          letter-spacing: 0.03rem;
          color: #baa974; }

@media only screen and (max-width: 750px) {
  #area01 .wrapper {
    max-width: 80%; }
    #area01 .wrapper .preis_wrap {
      padding-top: 20px; }
      #area01 .wrapper .preis_wrap .preis {
        width: 100%;
        float: none; } }


@media only screen and (max-width: 500px) {
#area01 {
  background-color: transparent;
  margin-top: 100px; }}


#area02 {
  background-color: #white;
  margin-top: 100px; }
  #area02 .wrapper {
    position: relative; }
    #area02 .wrapper .title {
      padding-bottom: 20px; }
    #area02 .wrapper .f1 {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
      width: 400px;
      max-width: 90%;
      margin: 50 auto;
      display: flex;
      align-items: center;
      background-color: white;
      padding: 0;
      border-left: 2px solid #b7870f; }
      #area02 .wrapper .f1 .f_zahl {
        padding-right: 2em;
        padding-left: 1em;
        box-sizing: border-box;
        color: #e6d18e; }
        #area02 .wrapper .f1 .f_zahl h2 {
          font-size: 3rem; }
      #area02 .wrapper .f1 .f_beschreibung {
        padding-right: 1em; }
        #area02 .wrapper .f1 .f_beschreibung .f_title {
          color: #b7870f;
          margin-bottom: 0px;
          font-family: "Roboto", sans-serif;
          letter-spacing: 0.03em;
          font-size: 0.9rem;
          text-transform: uppercase; }
        #area02 .wrapper .f1 .f_beschreibung p {
          margin: 5px;
          margin-left: 0px;
          color: #7C7C7C;
          font-size: 0.9rem;
          line-height: 1.3rem; }

@media only screen and (max-width: 500px) {
        #area02 {
          margin-top: 30px; }}



#zahl_wrapper::before {
  content: " ";
  position: absolute;
  left: 35%;
  top: 23%;
  height: 500px;
  border-left: 1px solid #ccc;
  z-index: -9; }

.pagebild {
  width: 450px;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 80px; }
  .pagebild img {
    box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68);
    width: 100%;
    max-width: 100%; }

#area7 .wrapper .title {
  padding-top: 50px;
  padding-bottom: 10px;
  width: 450px;
  max-width: 90%;
  margin: 0 auto; }

#area7 .wrapper .text {
  margin: 0 auto;
  max-width: 90%;
  color: #888888; }

#area03 {
  background-color: #fdfdfd;
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68); }
  #area03 .title {
    padding-bottom: 30px;
    text-align: center; }

.kontakt_div {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.kontakt_div_rechts {
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

#kontakt_bild {
  height: 317px;
  max-width: 90%;
  object-fit: cover; }

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto; }

input, textarea {
  width: 100%;
  max-width: 100%;
  margin: 0.5em;
  padding: 1em;
  font-size: .9rem;
  background-color: #efefef;
  border: none; }

input[type=submit] {
  width: 30%;
  margin: 1em auto;
  text-align: center;
  background-color: #deae06; }

@media only screen and (max-width: 830px) {
  .kontakt_div {
    display: grid;
    grid-template-columns: 1fr; }

  #kh2 {
    text-align: center; }

  #kontakt_bild {
    height: 250px;
    max-width: 90%;
    padding-top: 20px;
    object-fit: cover; } }

footer {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em; }
  footer li {
    display: inline-block;
    color: white;
    padding: 10px; }
